* {
    margin: 0;
    padding: 0;
    box-sizing: border-box !important;
}

header {
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    #paragraf {
        display: block;
        color: #CFD2C6;
        font-size: 80px;
        font-weight: bold;
        margin-top: 280px;
        margin-left: 79px;
        padding-bottom: 377px;
    }

    .navigacija {
        padding-top: 15px;
        display: flex;
        justify-content: space-between;
        text-align: center;


        nav {


            color: white;




            .nav-link {
                text-transform: uppercase;
                margin: auto 30px;

                color: white;

                &:hover {
                    color: orange;
                }

                &:active {
                    color: black;
                }
            }

            .navbar-toggler {

                background-color: white;

            }
        }

        .ciobo {
            color: white;
            margin: auto 0;
            font-size: 32px;
            margin-left: 150px;

            p {
                margin: auto 0;
            }


        }

        #dvojka {
            display: flex;

            ul {
                display: flex;

                li {
                    font-size: 16px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: white;

                    margin: auto 30px;
                    list-style: none;


                    a {
                        text-decoration: none;
                        text-decoration-line: none;
                        color: white;

                        &:hover {
                            color: orange;
                        }

                        &:active {
                            color: black;
                        }
                    }
                }
            }
        }
    }
}

#about {
    .row {
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            h1 {
                padding-top: 80px;
                font-size: 64px;
                font-weight: bolder;
                padding-bottom: 184px;
                margin-right: 100px;
            }

            p {
                padding-top: 80px;
                font-size: 14px;
                padding-bottom: 140px;

            }
        }
    }

    #carouselExampleControls {

        .carousel-item {
            img {
                width: 50%;
            }
        }
    }
}

#menu {
    margin-bottom: 112px;

    .par {
        text-align: center;

        h1 {
            font-size: 64px;
            font-weight: bold;
            padding-top: 80px;
        }

        p {
            font-size: 14px;
            padding: 24px 0;
        }

    }

    .dugmici {
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            background-color: #CFD2C6;
            border: 1px solid gray;
            border-radius: 10px;
            margin-bottom: 40px;

            &:active {
                background-color: #333;

                a {
                    color: white;
                }
            }

            &:hover {
                background-color: #333;

                a {
                    color: white;
                }

            }

            a {
                text-decoration: none;
                color: black;


            }



            margin-right: 40px;
        }

        .jedan {
            width: 158px;
            height: 48px;
            margin-left: 20px;

        }

        .dva {
            width: 121px;
            height: 48px;

        }

        .tri {
            width: 120px;
            height: 48px;

        }

        .cetri {
            width: 129px;
            height: 48px;
        }

        .pet {
            width: 125px;
            height: 48px;

        }

        .sest {
            margin-right: 0;
            width: 144px;
            height: 48px;

        }
    }

    #carouselExampleDark {
        .carousel-item {
            h5 {
                color: white;
                font-size: 20px;
                font-weight: bold;


            }

            p {
                color: white;
                font-size: 16px;

            }
        }

        .carousel-inner {
            margin: 0 auto;

        }
    }

}

#drinks {
    padding-bottom: 80px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .drink {
            width: 570px;
            height: 472px;
        }

        .photo {
            text-align: left;
        }
    }
}

#ourteam {
    padding-bottom: 80px;
    background-color: #B7BCA9;

    .paratri {
        display: flex;
        justify-content: space-between;

        div {
            h1 {
                padding-top: 80px;
                padding-bottom: 184px;
                font-size: 60px;
                font-weight: bold;
            }

            p {
                padding-top: 80px;
                padding-bottom: 184px;
                font-size: 16px;
                color: gray;
            }
        }
    }

    .grid {
        text-align: center;
        display: grid;
        grid-template-columns: auto auto auto auto;

        div {
            padding-right: 40px;
        }

        .visina {

            width: 300px;
            height: auto;
        }

        .zadnja {
            padding-right: 0;
        }
    }
}

#events {
    padding-bottom: 80px;
    background-color: #E7E9E2;

    .container {
        .event {
            h1 {

                padding-bottom: 80px;
                padding-top: 80px;
                font-size: 60px;
                font-weight: bold;
            }

        }

        .gridd {

            display: grid;
            grid-template-columns: auto auto;
            gap: 20px;

            div {
                position: relative;

                img {
                    position: relative;
                    width: 630px;

                    &:hover {

                        background-color: gray;
                        opacity: 0.5;
                    }




                }

                .hafive {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: white;
                    font-weight: bold;
                    opacity: 0;
                    transition: opacity 0.3s ease;

                }

                &:hover .hafive {
                    opacity: 1;
                }
            }
        }
    }
}

footer {
    background-color: #B7BCA9;
    vertical-align: top;
    padding-top: 72px;
    padding-bottom: 72px;

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        nav {
            ul {
                padding-bottom: 80px;
                display: flex;

                li {
                    list-style: none;
                    padding-right: 20px;

                    a {
                        text-decoration: none;
                        color: black;
                        font-size: 18px;
                        text-transform: uppercase;

                        &:hover {
                            color: orange;
                        }

                        &:active {
                            color: black;
                        }
                    }
                }
            }
        }

        .mreze {
            margin-right: 90px;
            text-align: center;

            h1 {
                padding-bottom: 72px;
            }

            img {
                margin-right: 15px
            }

        }

        .input {
            text-align: left;

            .da {
                background-color: #B7BCA9;
                border: none;
                border-bottom: 1px solid black;

            }
        }
    }

}

@media(max-width:992px) {
    .container {
        width: 100%;
    }

    header {
        #kec {
            position: absolute;
        }

        #dvojka {
            margin-top: 25px;
        }

        #paragraf {
            margin: 170px auto 0px 56px;

        }
    }

    #about {
        .row {
            div {
                h1 {
                    padding-top: 15px;
                    font-size: 45px;
                    padding-bottom: 50px;
                    margin-right: 0;
                }

                p {
                    padding-top: 15px;
                    padding-bottom: 30px;
                }

            }
        }

        #carouselExampleControls {
            .carousel-item {
                img {
                    width: 100%;
                }
            }
        }
    }

    #menu {
        .par {
            h1 {
                font-size: 45px;
                padding-top: 20px;
            }
        }
    }

    #drinks {
        padding-bottom: 0;

        .container {
            .col-sm-4 {
                width: 50%;

                img {
                    width: 100%;
                }

                .arrows {
                    width: 0;
                }

            }

            .drink {
                padding-left: 30px;
            }
        }
    }

    #ourteam {
        padding-bottom: 0;

        .paratri {
            justify-content: center;

            .col-sm-4 {
                width: 50%;

                h1 {
                    font-size: 45px;
                    padding-bottom: 30px;
                }

                p {
                    padding-bottom: 30px;
                }
            }
        }

        .grid {
            grid-template-columns: auto auto;
        }

    }

    #events {
        .container {
            .event {
                h1 {
                    padding-bottom: 15px;
                    padding-top: 15px;
                    font-size: 45px;
                }
            }
        

        .gridd {
            div {
                img {
                    width: 330px;
                    height: auto;
                }
            }
        }
        }
    }
    footer{
        padding-bottom: 40px;
        padding-top: 0px;
        .container{
            nav{
                ul{
                    padding-bottom: 0;
                    display: block;
                    li{
                        margin-top: 30px;
                    }
                }
            }
            .mreze{
                margin-right: 0;
                margin-bottom: 40px;
            }
            .input{
                margin-bottom: 100px;
            }
        }
    }
}

@media (max-width:768px) {
    header {
        .navigacija {
            #kec {
                position: absolute;

            }

            .ciobo {
                margin-left: 160px;
            }

            #dvojka {
                ul {
                    margin-top: 20px;

                    li {
                        margin: auto 15px !important;
                        font-size: 13px;

                    }
                }
            }
        }

        #paragraf {
            margin-top: 150px;
            margin-left: 50px;
            padding-bottom: 200px;

            h1 {}
        }
    }

    #about {
        .container {
            .row {
                .col-sm-5 {
                    width: 100%;

                    h1 {
                        padding-top: 20px;
                        padding-bottom: 20px;
                        font-size: 40px;
                    }

                    p {
                        padding-top: 20px;
                        padding-bottom: 20px
                    }
                }
            }

            #carouselExampleControls {
                .carousel-item {
                    img {
                        width: 100%;
                    }
                }
            }
        }
    }

    #menu {
        margin-bottom: 50px;

        .par {
            h1 {
                padding-top: 10px;
                font-size: 50px;
            }
        }

        .dugmici {
            button {
                margin-right: 10px;
            }
        }
    }

    #drinks {
        padding-bottom: 20px;

        .container {
            .col-sm-4 {
                .arrows {
                    width: 0%;
                }

                width: 50%;

                img {
                    width: 100%;
                }
            }

            .drink {
                margin-top: 100px;
                padding-left: 40px;
            }
        }
    }

    #ourteam {
        .paratri {
            height: 200px;

            justify-content: flex-start;

            .col-sm-4 {
                width: 50%;

                h1 {
                    width: 100%;
                    font-size: 40px;
                    padding-top: 20px;
                    padding-bottom: 20px;
                }

                p {
                    padding-top: 20px;
                    padding-bottom: 20px;
                }
            }
        }

        .grid {
            grid-template-columns: auto auto;

            div {
                .visina {
                    width: 250px;
                    height: auto;
                }
            }
        }

    }

    #events {
        .container {
            .event {
                h1 {
                    padding-top: 20px;
                    padding-bottom: 20px;
                    font-size: 45px;
                }
            }

            .gridd {
                grid-template-columns: auto auto;

                div {
                    img {
                        width: 270px;
                    }
                }
            }
        }
    }

    footer {
        padding-bottom: 20px;
        padding-top: 20px;

        .container {
            display: flex;
            justify-content: space-between;

            nav {
                ul {
                    display: block;
                    padding-bottom: 10px;
                    padding-left: 0;

                    li {
                        padding-bottom: 30px;
                    }
                }
            }

            .mreze {
                margin-bottom: 110px;
                margin-right: 0;

            }

            .input {
                margin-bottom: 120px;
            }
        }
    }
}

@media(max-width:576px) {
    .container {
        width: 100%;
    }

    header {
        .navigacija {
            #kec {
                position: absolute;
            }

            .ciobo {

                font-size: 25px !important;
                margin-left: 110px !important;
            }

            #dvojka {

                ul {
                    padding-left: 10px;
                    margin-top: 18px;

                    li {
                        font-size: 12px !important;
                        margin: 0 8px !important;
                    }
                }
            }

            #paragraf {
                margin-top: 120px;
                margin-left: 35px;
                padding-bottom: 200px;


            }
        }
    }

    #about {
        .row {
            .col-sm-5 {
                h1 {
                    font-size: 30px;
                    padding-top: 30px;
                    padding-bottom: 10px;
                }

                p {
                    padding-top: 20px;
                    padding-bottom: 50px;
                }
            }
        }

        #carouselExampleControls {

            & .carousel-item {
                img {
                    width: 100%;

                }
            }
        }
    }

    #menu {
        margin-bottom: 20px;

        .par {
            h1 {
                font-size: 40px;
                scroll-padding-top: 20px;
            }
        }

        .dugmici {
            button {
                margin-right: 5px;
            }
        }
    }

    #drinks {
        .container {
            height: 450px;


            padding-bottom: 0px;

            .col-sm-4 {
                width: 100%;

                img {
                    width: 100%;
                }

                .none {
                    font-size: 10px;
                }

                .arrows {
                    width: 0;
                }
            }

            .drink {

                margin-top: 150px;
                margin-left: 20px;
            }
        }

    }

    #ourteam {
        padding-bottom: 15px;

        .paratri {
            .col-sm-4 {
                width: 100%;

                h1 {
                    font-size: 40px !important;
                    padding-top: 15px;
                    padding-bottom: 30px;




                }

                p {
                    padding-top: 15px;
                    padding-bottom: 30px;


                }
            }
        }

        .grid {
            grid-template-columns: auto;

            div {

                p {
                    width: 250px;
                    margin: 0 auto;
                }
            }

            .visina {
                width: 200px;
                height: auto;
            }
        }
    }

    #events {
        .container {
            .event {
                h1 {
                    padding-bottom: 30px;
                    padding-top: 30px;
                    font-size: 40px;
                }
            }

            .gridd {
                grid-template-columns: auto auto;

                div {
                    img {
                        width: 220px;
                        height: auto;
                    }
                }
            }
        }
    }

    footer {

        padding-bottom: 10px;
        padding-top: 10px;

        .container {
            width: 100%;
            display: flex;
            flex-wrap: wrap;

            nav {
                margin-left: 80px;


                ul {

                    display: block;

                    padding-bottom: 10px;
                    padding-left: 0;

                    li {
                        padding-top: 10px;
                    }
                }
            }

            .mreze {



                h1 {
                    padding-bottom: 20px;
                }
            }

            .input {
                display: block;
                margin-left: 100px;

                p {
                    text-align: center;
                    width: 300px;
                }

                input {
                    width: 100%;
                }
            }
        }
    }
}